@font-face
{
font-family: 'Helvetica Now Display';
src: url('./HelveticaNeue-Heavy.otf');
}

:root {
    --main-light-color: #e8e2da;
    --main-dark-color: #2e2a27;
    --main--white-color: #ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: var(--main-dark-color);
font-size: 1vw;
line-height: 1.6;
font-weight: 500;

}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust:100%
}

img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.section.is--hero {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.section.is--nav {
    position: sticky;
    top: 0px;
    z-index: 1000;
    margin-top: -1px;
    background-color: #2e2a27;
}

.container.is--nav {
    display: flex;
    padding-top: 0em;
    padding-bottom: 0em;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.container.is--header {
    padding-top: 8.78em;
    padding-bottom: 8.78em;
    text-align: center;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 2.08em;
}

.nav_top {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    min-height: 6em;
    padding-top: 2.08em;
    padding-bottom: 2.08em;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid currentColor !important;
}

.nav_logo-contain {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav_logo {
    position: absolute;
    text-decoration: none;
    color: currentColor !important;
    font-family: 'Helvetica Now Display';
    
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}


.nav_side {
    position: relative;
    z-index: 2;
    width: 19em;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    padding-right: 0.89em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: currentColor !important;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: currentColor !important;
}

.nav_side.is--right {
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_text-wrap {
    position: relative;
    overflow: hidden;

}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12.08em;
    line-height: 0.8;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.04em;
    color: var(--main-light-color);
}

.sticky-circle_wrap {
    height: 300vh;
}

.sticky-circle {
    position: sticky;
    top: 0px;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    padding-top: 6em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.sticky-circle_element {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 35em;
    height: 35em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 35em;
}

.section.is--catories {
    position: relative;
    z-index: 2;
}

.container.is--categories {
    padding-top: 6.18em;
    padding-bottom: 6.18em;

}

@media screen and (max-width: 991px) {
.container {
    padding-right: 3em;
    padding-left: 3em;
    }
}

.categories {
    display: flex;
    width: 82em;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.categories_link {
    position: relative;
    margin: 0.4em;
    padding: 0.6em 1.82em;
    border-radius: 100vw;
}

.categories_border {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    border-style: solid;
    border-width: 1px;
    border-color: #e8e2da;
    border-radius: 100vw;
    opacity: 0.35;
}

.categories_link-text {
    position: relative;
    z-index: 2;
    font-size: 3.96em;
    line-height: 0.8;
}

.section.is--grid {
    position: relative;
    z-index: 1;
}

.container.is--grid {
    padding-bottom: 0em;
}

.grid_text-wrap {
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    height: 100vh;
    margin-top: -50vh;
    padding-bottom: 2.08em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.grid_text-list {
    position: relative;
    margin-left: -0.5em;
}

.grid_text-item.is--active {
    opacity: 1.0;
}

.grid_text-item {
    pointer-events: none;
}

.grid_text-item {
    position: absolute;
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
    opacity: 0;
    -webkit-transition: opacity 100ms ease;
    transition: opacity 100ms ease;
    font-size: 1em;
}

.grid_text-title {
    position: relative;
    font-size: 21.88em;
    line-height: 0.8;
    font-weight: 700;
    letter-spacing: -0.04em;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}